.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 0 2rem;

  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    flex: 1;
  }
  
  .navbar-container .nav-content{
    padding-top: .8rem;
    display: flex;
    align-items: center;
   
  }
  
  .logo-content .navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }

  .navbar-container .button-container{
    padding-left: -2rem;
    border: 1px solid #fff;
  }
  
  .nav-content .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 40vw;
    justify-content:center;
    
  }
  
  /* .nav-content .nav-item {
    height: 80px;
    
    
  } */
  
  .nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  
  .nav-links-mobile {
    display: none;
  }
  .nav-item-1 .nav-links-mobile-login {
    display: none;
  }
  
  .menu-icon {
    display: none;
    color: #fff;
  }
  
  @media screen and (max-width: 960px) {
   

    .navbar .navbar-container{
      align-items: center;
      
    }

    
  
    .nav-content .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -120%;
      opacity: 1;
      transition: all 0.5s ease;
      padding-top: 1rem ;
      padding-left: 0;
      
    }
  
    .nav-menu.active {
      background: #242222;
      left: 0;
      padding: 0 1rem;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem 0;
      width: 100%;
      display: table;
    }
  
    .nav-item:hover {
      background-color:rgb(86, 83, 83);
      color: #000;
      border-radius: 5px;
    }
  
    .logo-content .navbar-logo {
      font-size: 1.5rem;
      cursor: pointer;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .nav-item-1 .nav-links-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid #fff;
      height: 40px;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: #fff;
      color: #000;
      padding: 20px 20px;
      transition: all 0.3s ease-out;
      border-radius: 5px;
    }

    
    .nav-item-1 .nav-links-mobile-login {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: 1px solid #fff;
      height: 40px;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 20px 20px;
      transition: all 0.3s ease-out;
      border-radius: 5px;
      border: 1px solid #fff;
      font-size: 20px;
    }
  
    .nav-links-mobile:hover {
      background: #000;
      color: #fff;
      transition: 250ms;
    }
  }

  @media screen and (max-width: 480px){
    .navbar{
        height: 60px;
    }
    .navbar .navbar-logo{
        font-size: 20px;
    }
    .nav-item-1 .nav-links-mobile {
      font-size: 20px;
    }
  }